@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap&text=♈♉♊♋♌♍♎♏♐♑♒♓");

:root {
  --border-color: #3e4044;
  --border-radius: 6px;
  --bg-color: #282d31;
}

.tabulate {
  font-size: 1rem;
  font-family: "Noto Sans Symbols", sans-serif, serif, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 0.5px solid var(--border-color);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
    font-weight: normal;
  }

  td,
  th {
    border: 0.5px solid var(--border-color);
    padding: 0.3rem;
  }

  tr {
    &:first-child th {
      &:first-child {
        border-top-left-radius: var(--border-radius);
      }
      &:last-child {
        border-top-right-radius: var(--border-radius);
      }
    }

    &:last-child td {
      &:first-child {
        border-bottom-left-radius: var(--border-radius);
      }
      &:last-child {
        border-bottom-right-radius: var(--border-radius);
      }
    }

    &:nth-child(even) {
      background-color: var(--bg-color);
    }
  }

  &.cross_ref table {
    table-layout: fixed;
  }
}

.st-key-prev {
  .stButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

[data-testid="stColumn"] {
  min-width: 60px;
}

#MainMenu,
footer,
.stDecoration {
  display: none;
}

[data-testid="stSidebar"][aria-expanded="true"] {
  min-width: 365px;
}

.st-key-chart_svg {
  .stMarkdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stMainBlockContainer {
  padding-top: 4rem;
}

.stMainBlockContainer {
  overflow-x: hidden;
}

.st-key-prev + .stElementContainer,
.st-key-next + .stElementContainer {
  display: none;
}
